<div class="main-content no-top-margin5" style="overflow: hidden;">
  <div class="container-fluid px-3">
    <div class="row mt-4">
      <div class="col-12 text-right" style="display: flex; align-items: center; justify-content: flex-end">
        <mat-icon mat-button [matMenuTriggerFor]="menu" class="float-right" style="cursor: pointer">more_vert
        </mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngIf="selectedMenu.getValue().item!=='roles'" (click)="switchMenu('roles','Roles')">
            <mat-icon class="ml-1">group</mat-icon>Roles
          </button>
          <button mat-menu-item *ngIf="selectedMenu.getValue().item!=='users'" (click)="switchMenu('users','Users')">
            <mat-icon class="ml-1">person</mat-icon>Users
          </button>
          <button mat-menu-item *ngIf="selectedMenu.getValue().item!=='library'"
            (click)="switchMenu('library','Library')">
            <mat-icon class="ml-1">library_books</mat-icon>Library
          </button>
          <button mat-menu-item
            *ngIf="selectedMenu.getValue().item!=='closure-reasons' && appComp.loggedInUser.organization.organizationType!=='GRANTEE'"
            (click)="switchMenu('closure-reasons','Closure Reasons')">
            <mat-icon class="ml-1">do_not_disturb</mat-icon>Closure Reasons
          </button>
          <button mat-menu-item
            *ngIf="selectedMenu.getValue().item!=='tags' && appComp.loggedInUser.organization.organizationType!=='GRANTEE'"
            (click)="switchMenu('tags','Tags')">
            <mat-icon class="ml-1">bookmark</mat-icon>Grant Tags
          </button>
          <button mat-menu-item
            *ngIf="selectedMenu.getValue().item!=='config' && appComp.loggedInUser.organization.organizationType!=='GRANTEE'"
            (click)="switchMenu('config','Application Configurations')">
            <mat-icon class="ml-1">settings</mat-icon>Application Settings
          </button>
          <button mat-menu-item disabled
            *ngIf="selectedMenu.getValue().item!=='workflows' && this.appComp.loggedInUser.organization.organizationType !== 'GRANTEE'"
            (click)="switchMenu('workflows','Workflows')">
            <mat-icon class="ml-1">account_tree</mat-icon>Workflows
          </button>
          <button mat-menu-item disabled
            *ngIf="selectedMenu.getValue().item!=='templates' && this.appComp.loggedInUser.organization.organizationType !== 'GRANTEE'"
            (click)="switchMenu('templates','Templates')">
            <mat-icon class="ml-1">description</mat-icon>Templates
          </button>
        </mat-menu>
      </div>
    </div>

    <mat-tab-group #matTabGroup>
      <mat-tab [label]="selectedMenu.getValue().title">
        <div *ngIf="selectedMenu.getValue().item==='roles'" class="anu-container text-left mx-0 px-0">
          <app-roles [roles]="roles"></app-roles>
        </div>
        <div *ngIf="selectedMenu.getValue().item==='users'" class="anu-container text-left mx-0 px-0">
          <app-users [users]="users" [roles]="roles"></app-users>
        </div>
        <div *ngIf="selectedMenu.getValue().item==='tags'" class="anu-container text-left mx-0 px-0">
          <app-org-tags [tags]="tags"></app-org-tags>
        </div>
        <div *ngIf="selectedMenu.getValue().item==='library'" class="anu-container text-left mx-0 px-0">
          <app-document-library [docs]="docs"></app-document-library>
        </div>
        <div *ngIf="selectedMenu.getValue().item==='config'" class="anu-container text-left mx-0 px-0">
          <app-settings></app-settings>
        </div>
        <div *ngIf="selectedMenu.getValue().item==='closure-reasons'" class="anu-container text-left mx-0 px-0">
          <app-closure-reasons [reasons]="reasons"></app-closure-reasons>
        </div>
      </mat-tab>
    </mat-tab-group>


  </div>
</div>