.github/workflows  @ranjitsocial
e2e/**             @ranjitsocial
frontend/**        @ranjitsocial
src/**             @ranjitsocial
.gitignore         @ranjitsocial
**.md              @ranjitsocial
angular.json
karma.conf.js
package-lock.json
package.json
protractor.conf.js
sonar-project.properties
tsconfig.json
