.github/workflows  @raghavendrakedlaya
e2e/**             @raghavendrakedlaya
frontend/**        @raghavendrakedlaya
src/**             @raghavendrakedlaya
.gitignore         @raghavendrakedlaya
**.md              @raghavendrakedlaya
**.json            @raghavendrakedlaya
**.js              @raghavendrakedlaya
sonar-project.properties @raghavendrakedlaya
