<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                <img
              src="./assets/img/code-alpha.svg"
              alt="logo"
              class="img-fluid ml-2 mt-1"
              style="
                width: 75px;
                
                border-radius: 2px;
              "
            />
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right ml-3">
            | {{appComp.releaseVersion}}
        </div>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}

        </div>

    </div>
</footer>
