<h1 mat-dialog-title>Save {{message}}?</h1>
<p>We noticed a change in the <strong>Default {{message}}</strong>. Please provide a name for the template and click
  <strong>Save
    Template</strong>.
</p>

<mat-form-field>
  <input matInput #templateName class="row anu-input" placeholder="Template Name">
</mat-form-field>
<mat-form-field>
  <textarea matTextareaAutosize matInput placeholder="Template description" #templateDescription
    class="row "></textarea>
</mat-form-field>

<div mat-dialog-actions>
  <button class="btn btn-sm btn-green-primary" (click)="onYesClick()">Save Template</button>
  <button class="btn btn-sm btn-green" (click)="onNoClick()">Not Now</button>

</div>