<div class="row search-panel">
  <div class="col-9 search-panel-container">
    <app-search-filter #appSearchFilter *ngIf="!searchClosed" [ready]="filterReady"
      (highlightDone)="resetFilterFlag($event)" (filterCriteria)="startFilter($event)" (close)="closeSearch($event)">
    </app-search-filter>
    <mat-icon (click)="openSearch()" style="position: absolute; right: 0; margin-right: 20px;">search</mat-icon>
  </div>
  <div class="col-3 d-flex align-items-center justify-content-end p-0">
    <ng-container *ngIf="appComponent.grantTypes && appComponent.grantTypes.length>0">
      <button *ngIf="
        appComponent.loggedInUser.organization.organizationType ===
        'GRANTER'
      " class="btn btn-sm btn-green float-right" (click)="createGrant()">
        New Grant
      </button>
    </ng-container>
  </div>
</div>
<div class="main-content" style="margin-top: 40px;">
  <div class="container-fluid anudan-scrollable">

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <mat-tab-group #matTabGroup (selectedTabChange)="tabClicked($event)">
          <mat-tab label="Commitments">
            <div>
              <div *ngIf="!hasTenant">
                <img alt="img" src="./assets/img/loader.gif" style="width: 10%" />
                <p style="color: black">Loading grants...</p>
              </div>



              <div *ngIf="hasTenant">
                <p *ngIf="filteredGrants && filteredGrants.length===0" class="py-5">
                  No Grants
                </p>
                <div [ngClass]="uiService.getGrantCardStyle(grant,appComponent)"
                  style="border-radius: 8px; cursor: pointer" *ngFor="let grant of filteredGrants; let i = index"
                  (click)="manageGrant(grant)">
                  <div class="col-1 text-left" *ngIf="appComponent.loggedInUser.organization.organizationType==='GRANTEE'">
                      <div style="margin-left:-15px;"> <img alt="img" [src]="'/api/public/images/' + grant.grantorOrganization.code + '/logo'" alt="logo" class="img-fluid" />
                      </div> 
                  </div>
                
                  <div class="col-11 text-left search-context" [ngStyle]="{'margin-left':appComponent.loggedInUser.organization.organizationType==='GRANTEE'?'-30px':'0px'}">
                    <em
                      *ngIf="appComponent.loggedInUser.organization.organizationType==='GRANTER' && grant.grantTags.length===1"
                      class="fas fa-tag fa-xs ml-2 grant-tags"></em>
                    <em
                      *ngIf="appComponent.loggedInUser.organization.organizationType==='GRANTER' && grant.grantTags.length>1"
                      class="fas fa-tags fa-xs ml-2 grant-tags"></em>
                    <p class="text-header-h1 mb-1" *ngIf="!grant.referenceNo" style="font-size: 18px">
                      {{ grant.name }}
                      <span class="text-red ml-3" *ngIf="
                          grant.grantStatus.internalStatus === 'ACTIVE' &&
                          grant.amendGrantId
                        ">
                        <small>Amendment in-progress</small>
                      </span>
                    </p>
                    <p class="text-header-h1 mb-1" *ngIf="grant.referenceNo" style="font-size: 18px">
                      {{ grant.referenceNo }} | <strong>{{ grant.name }}</strong>
                    </p>
               
                    <div class="text-header mb-0" *ngIf="appComponent.loggedInUser.organization.organizationType==='GRANTER'">
                      {{ grant.organization ? grant.organization.name : null }}
                    </div>
                    <div class="text-header mb-0" *ngIf="appComponent.loggedInUser.organization.organizationType==='GRANTEE'">
                      {{ grant.grantorOrganization ? grant.grantorOrganization.name : null }}
                    </div>
                  </div>

                  <div class="col-9 text-left">
                    <div class="row">
                      <div class="col-12 mt-0">
                        <div class="row">
                          <div class="col-6 mb-0 pr-15 mt-1 progress-summary-class">
                            <small>{{appComponent.loggedInUser.organization.organizationType==='GRANTEE'?"Received":"Disbursed"}} {{currencyService.getFormattedAmount(grant.approvedDisbursementsTotal)}} /
                              <span style="font-weight: 800;">Committed
                                {{currencyService.getFormattedAmount(grant.amount)}}</span> (<span
                                class="text-green mt-2 mb-0"
                                style="font-size:14px;font-weight:800;">{{getRoundedFigure(grant)}}%</span>)
                                <div>
                                <mat-progress-bar mode="determinate"
                                  [value]="((grant.approvedDisbursementsTotal/grant.amount)*100)"
                                  style="height: 8px !important;"></mat-progress-bar>
                              </div></small>
                          </div>

                          <div class="col-6 mb-0 pr-15 mt-1 progress-summary-class" *ngIf="grant.plannedFundOthers>0">
                            <small>Co-funding: Recorded {{currencyService.getFormattedAmount(grant.actualFundOthers)}} /
                              <span style="font-weight: 800;">Planned
                                {{currencyService.getFormattedAmount(grant.plannedFundOthers)}}</span> (<span
                                class="text-green mt-2 mb-0"
                                style="font-size:14px;font-weight:800;">{{otherFundsPercentage(grant)}}%</span>)
                                <div>
                                <mat-progress-bar mode="determinate"
                                  [value]="((grant.actualFundOthers/grant.plannedFundOthers)*100)"
                                  style="height: 8px !important;"></mat-progress-bar>
                              </div></small>
                          </div>

                        </div>
                      </div>
                      <div class="col-12 mt-2">
                        <div class="row">
                          <div class="col-6 mb-0 pr-0" style="border-right: 1px solid #d4d4d4">&nbsp;</div>
                          <div class="col-6 mb-0 pr-0 text-subheader">Approved Reports:&nbsp;&nbsp;<span
                              class="text-header">
                              {{
                              grant.approvedReportsForGrant === 0
                              ? "None"
                              : grant.approvedReportsForGrant
                              }}</span></div>
                        </div>
                      </div>
                      <div class="col-12 mt-0">
                        <div class="row">
                          <div class="col-6 mb-0 pr-0" style="border-right: 1px solid #d4d4d4">
                            <p class="mb-0 text-header">
                              <mat-icon [inline]="true" class="mr-1" [ngStyle]="{'color':data.grantPastEndDate(grant)?'#ffbf00':''}">calendar_today</mat-icon>
                              {{ grant.startDate | date: "dd-MMM-yyyy" }}
                              -
                              {{ grant.endDate | date: "dd-MMM-yyyy" }}
                              <span class="text-subheader"><small class="ml-2">({{ data.getDateDuration(grant)
                                  }})</small></span>
                            </p>
                          </div>
                          <div class="col-6 mb-0 pr-0 text-subheader">
                            Project Documents:<span class="text-header">
                              {{
                              grant.projectDocumentsCount === 0
                              ? "None"
                              : grant.projectDocumentsCount
                              }}</span>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="col-3 text-left">
                    <div class="status-indicator2">
                      <div [class]="'text-center status-icon state-'+grant.grantStatus.internalStatus.toLowerCase()">
                      </div>{{grant.grantStatus.name | uppercase}}
                    </div>
                    <div class="text-center text-subheader pl-3 mt-2 search-context">{{grant.ownerName}}</div>
                  </div>
                  <div class="col-9">
                    <strong *ngIf="grant.closureInProgress" class="text-subheader d-flex align-items-center mt-1"
                     >
                      <mat-icon [inline]="true" class="material-icons-outlined mr-1">
                        info_outline
                      </mat-icon>{{'Closure in-progress'}}
                    </strong>
                  </div>
                  <div *ngIf="appComponent.loggedInUser.organization.organizationType!=='GRANTEE'"
                    [ngStyle]="{'background-color':getGrantTypeColor(grant.grantTypeId),'border-bottom-right-radius':'4px'}"
                    class="col-3 p-1 d-flex align-items-center justify-content-center">
                    <div class="float-right">
                      <small>{{getGrantTypeName(grant.grantTypeId)}}</small>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab *ngIf="closures && closures.length>0" label="Commitments under Closure">
            <div *ngIf="!filteredClosures">
              <img alt="img" src="./assets/img/loader.gif" style="width: 10%" />
              <p style="color: black">Loading in-progress closures...</p>
            </div>
            <div *ngIf="filteredClosures && filteredClosures.length === 0">
              <p class="py-5">
                No closures
              </p>
            </div>
            <div [ngClass]="uiService.getClosureCardStyle(closure,appComponent)" style="cursor: pointer"
              *ngFor="let closure of filteredClosures; let i = index" (click)="manageClosure(closure)">
              <div class="d-flex align-items-center report-delete"
                *ngIf="(closure.canManage && closure.status.internalStatus === 'DRAFT') || (!closure.canManage && closure.disabledByAmendment)"
                (click)="deleteClosure(closure)">
                <mat-icon class="text-red">delete_outline</mat-icon>
              </div>
              <div class="col-1 text-left" *ngIf="appComponent.loggedInUser.organization.organizationType==='GRANTEE'">
                <div style="margin-left:-15px;"> <img alt="img" [src]="'/api/public/images/' + closure.grant.grantorOrganization.code + '/logo'" alt="logo" class="img-fluid" />
                </div> 
             </div>
              <div class="col-11 text-left search-context" [ngStyle]="{'margin-left':appComponent.loggedInUser.organization.organizationType==='GRANTEE'?'-30px':'0px'}">
                  <em
                    *ngIf="appComponent.loggedInUser.organization.organizationType==='GRANTER' && closure.grant.grantTags.length===1"
                    class="fas fa-tag fa-xs ml-2 grant-tags"></em>
                  <em
                    *ngIf="appComponent.loggedInUser.organization.organizationType==='GRANTER' && closure.grant.grantTags.length>1"
                    class="fas fa-tags fa-xs ml-2 grant-tags"></em>
                  
                  <p class="text-header-h1 mb-1" *ngIf="closure.grant.referenceNo" style="font-size: 18px">
                    {{ closure.grant.referenceNo }} | <strong>{{ closure.grant.name }}</strong>
                  </p>
               

                  <div class="text-header mb-0" *ngIf="appComponent.loggedInUser.organization.organizationType==='GRANTER'">
                    {{ closure.grant.organization ? closure.grant.organization.name : null }}
                  </div>
                  <div class="text-header mb-0" *ngIf="appComponent.loggedInUser.organization.organizationType==='GRANTEE'">
                    {{ closure.grant.grantorOrganization ? closure.grant.grantorOrganization.name : null }}
                  </div>

                </div>

                  <div class="col-9 text-left">
                    <div class="row">
                      <div class="col-12 mt-0">
                        <div class="row">
                          <div class="col-6 mb-0 pr-15 mt-1 progress-summary-class">
                            <small>{{appComponent.loggedInUser.organization.organizationType==='GRANTEE'?"Received":"Disbursed"}} {{currencyService.getFormattedAmount(closure.grant.approvedDisbursementsTotal)}} /
                              <span style="font-weight: 800;">Committed
                                {{currencyService.getFormattedAmount(closure.grant.amount)}}</span> (<span
                                class="text-green mt-2 mb-0"
                                style="font-size:14px;font-weight:800;">{{getRoundedFigure(closure.grant)}}%</span>)
                                <div>
                                <mat-progress-bar mode="determinate"
                                  [value]="((closure.grant.approvedDisbursementsTotal/closure.grant.amount)*100)"
                                  style="height: 8px !important;"></mat-progress-bar>
                              </div></small>
                          </div>

                          <div class="col-6 mb-0 pr-15 mt-1 progress-summary-class" *ngIf="closure.grant.plannedFundOthers>0">
                            <small>Co-funding: Recorded {{currencyService.getFormattedAmount(closure.grant.actualFundOthers)}} /
                              <span style="font-weight: 800;">Planned
                                {{currencyService.getFormattedAmount(closure.grant.plannedFundOthers)}}</span> (<span
                                class="text-green mt-2 mb-0"
                                style="font-size:14px;font-weight:800;">{{otherFundsPercentage(closure.grant)}}%</span>)
                                <div>
                                <mat-progress-bar mode="determinate"
                                  [value]="((closure.grant.actualFundOthers/closure.grant.plannedFundOthers)*100)"
                                  style="height: 8px !important;"></mat-progress-bar>
                              </div></small>
                          </div>

                        </div>
                      </div>
                      <div class="col-12 mt-2">
                        <div class="row">
                          <div class="col-6 mb-0 pr-0" style="border-right: 1px solid #d4d4d4">&nbsp;</div>
                          <div class="col-6 mb-0 pr-0 text-subheader">Approved Reports:&nbsp;&nbsp;<span
                              class="text-header">
                              {{
                              closure.grant.approvedReportsForGrant === 0
                              ? "None"
                              : closure.grant.approvedReportsForGrant
                              }}</span></div>
                        </div>
                      </div>
                      <div class="col-12 mt-0">
                        <div class="row">
                          <div class="col-6 mb-0 pr-0" style="border-right: 1px solid #d4d4d4">
                            <p class="mb-0 text-header">
                              <mat-icon [inline]="true" class="mr-1" [ngStyle]="{'color':data.grantPastEndDate(closure.grant)?'#ffbf00':''}">calendar_today</mat-icon>
                              {{ closure.grant.startDate | date: "dd-MMM-yyyy" }}
                              -
                              {{ closure.grant.endDate | date: "dd-MMM-yyyy" }}
                              <span class="text-subheader"><small class="ml-2">({{ data.getDateDuration(closure.grant)
                                  }})</small></span>
                            </p>
                          </div>
                          <div class="col-6 mb-0 pr-0 text-subheader">
                            Project Documents:<span class="text-header">
                              {{
                              closure.grant.projectDocumentsCount === 0
                              ? "None"
                              : closure.grant.projectDocumentsCount
                              }}</span>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="col-3 ">
                    <div class="status-indicator2">
                      <div [class]="'text-center status-icon state-'+(isExternalGrant(closure.grant)?'ext-':'') +closure.status.internalStatus.toLowerCase()">
                      </div>{{closure.status.name | uppercase}}
                    </div>
                    <div class="text-center text-subheader pl-3 mt-2 search-context">{{closure.ownerName}}</div>
                  </div>
             <div class="col-9">
                <div class="text-header text-left mr-3">
                 <span class="mb-0 text-subheader text-left">Closure Reason:&nbsp; </span>
                 <strong><span *ngIf="closure.reason" class="search-context">{{ closure.reason.reason }}</span>
                </strong>
              </div>
              </div>
              <div *ngIf="appComponent.loggedInUser.organization.organizationType!=='GRANTEE'"
                [ngStyle]="{'background-color':getGrantTypeColor(closure.grant.grantTypeId),'border-bottom-right-radius':'4px'}"
                class="col-3 p-1 d-flex align-items-center justify-content-center">
                <div class="float-right">
                  <small>{{getGrantTypeName(closure.grant.grantTypeId)}}</small>
                </div>
              </div>
            </div>
          </mat-tab>

        </mat-tab-group>

      </div>
    </div>
  </div>
</div>